In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## データ全体のユーザー分布

In [11]:
df = pd.read_csv("hoge.csv",names=("purchasedat", "gender", "age", "quantity", "receiptid","publicuserid", "chainstorename", "jicfscategoryss", "matchedname"))

In [12]:
df.head()

,purchasedat,gender,age,quantity,receiptid,publicuserid,chainstorename,jicfscategoryss,matchedname
0,"2022-09-16 13:48:00 ""female"" ""24"" ""1"" ""2885473...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2022-08-10 16:50:00 ""female"" ""34"" ""1"" ""2669296...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"2022-11-27 14:55:00 ""female"" ""41"" ""1"" ""3309295...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"2022-06-28 17:07:00 ""male"" ""46"" ""2"" ""241199144...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"2022-08-29 18:06:00 ""female"" ""26"" ""1"" ""2790773...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
len(df)

5791412

In [15]:
foo = pd.read_csv("ho.csv")

In [16]:
foo

,"2022-09-16,13:48:00",female,24,1,288547349,f2930de3-b5e3-4f5b-84fe-eaec10766615,ダイソー,130125_チュ－インガム,モンデリーズ クロレッツ ライムミント,100円ショップ、均一ショップ
0,"2022-08-10,16:50:00",female,34,1,266929695,00000003-0000-0000-0000-00DE00655541,ダイソー,299999_日用品不明,日用品 その他,100円ショップ、均一ショップ
1,"2022-11-27,14:55:00",female,41,1,330929503,8f9346ce-b5b1-4e7f-984a-ec5d71d560fb,ダイソー,239897_その他化粧品,化粧品 その他,100円ショップ、均一ショップ
2,"2022-06-28,17:07:00",male,46,2,241199144,695c8971-b8cd-4b97-9de0-934957476604,ダイソー,299999_日用品不明,日用品 その他,100円ショップ、均一ショップ
3,"2022-08-29,18:06:00",female,26,1,279077322,52c75cff-b214-467b-8462-b7fe230c1bb6,ダイソー,240197_その他食品包装,ポリ袋,100円ショップ、均一ショップ
4,"2022-08-21,13:33:00",female,24,1,275251702,46de820f-6b1b-4c83-be26-54f19f123b0f,ダイソー,199799_その他食品不明,ダイソーセレクト その他,100円ショップ、均一ショップ
5,"2022-11-05,12:26:00",male,50,1,317259547,00000003-0000-0000-0000-00DE00705359,ダイソー,299999_日用品不明,日用品 その他,100円ショップ、均一ショップ
6,"2022-07-08,12:34:00",female,54,1,246011589,00000003-0000-0000-0000-00DE00731066,ダイソー,110137_マヨネーズ,キユーピー マヨネーズ,100円ショップ、均一ショップ
7,"2022-11-02,10:11:00",female,50,1,316621222,00000003-0000-0000-0000-00DE00612186,ダイソー,299999_日用品不明,日用品 その他,100円ショップ、均一ショップ
8,"2022-07-13,10:56:00",male,53,1,250009305,6755824f-d76d-4bd9-ac85-06705a4a71c5,ダイソー,299999_日用品不明,日用品 その他,100円ショップ、均一ショップ
9,"2022-11-19,18:06:00",male,56,1,325357304,b19a6f2a-60f1-43f7-80a0-61efad5226eb,ダイソー,299999_日用品不明,日用品 その他,100円ショップ、均一ショップ